<%= name %>:
  type: 'array'
<% if required %>
  required: true
<% end %>
<% if private %>
  private: true
<% end %>
  label:
    es: 'Lista'
    en: 'List'
  help:
    es: 'Agregue elementos a la lista'
    en: 'Add elements to list'
