<%= name %>:
  type: 'belongs_to'
<% if required %>
  required: true
<% end %>
  inverse: '<%= inverse %>'
<% if filter %>
  filter:
    <%= filter %>: <%= value %>
<% end %>
  label:
    es: 'Pertenence a'
    en: 'Belongs to'
  help:
    es: '¿De qué artículo depende?'
    en: 'What article does this one belong to?'
