<%= name %>:
  type: 'content'
<% if required %>
  required: true
<% end %>
<% if private %>
  private: true
<% end %>
  label:
    es: 'Contenido'
    en: 'Content'
  help:
    es: 'El contenido del artículo'
    en: 'Text content for article'
