<%= name %>:
  type: 'encrypted_text'
<% if required %>
  required: true
<% end %>
  label:
    es: 'Notas'
    en: 'Notes'
  help:
    es: 'Comentarios internos, recordatorios, información privada. No se publica en el sitio y aparece encriptado en el código fuente, solo personas con permiso podrán leerlo.'
    en: "Internal comments, reminders, private information. This won't be published to the website and will appear encrypted in source code, only those with permission will be able to read it." 
