<%= name %>:
  type: 'event'
<% if required %>
  required: true
<% end %>
  zone:
    label:
      es: 'Zona horaria'
      en: 'Time zone'
    help:
      es: ''
      en: ''
  date:
    label:
      es: 'Fecha'
      en: 'Date'
    help:
      es: ''
      en: ''
  time:
    label:
      es: 'Horario'
      en: 'Time'
    help:
      es: ''
      en: ''
  dtstart:
    label:
      es: 'Comienzo del evento'
      en: 'Event start'
    help:
      es: ''
      en: ''
  dtend:
    label:
      es: 'Fin del evento'
      en: 'Event end'
    help:
      es: ''
      en: ''
