<%= name %>:
  type: 'file'
<% if required %>
  required: true
<% end %>
  path:
    label:
      es: 'Archivo'
      en: 'File'
    help:
      es: 'Sube un archivo'
      en: 'Upload a file'
  description:
    label:
      es: 'Descripción'
      en: 'Description'
    help:
      es: 'Breve descripción del archivo'
      en: 'Brief file description'
