<%= name %>:
  type: 'geo'
<% if required %>
  required: true
<% end %>
  label:
    es: 'Coordenadas geograficas'
  lat:
    label:
      es: 'Latitud'
      en: 'Latitude'
    help:
      es: ''
      en: ''
  lng:
    label:
      es: 'Longitud'
      en: 'Longitude'
    help:
      es: ''
      en: ''
