<%= name %>:
  type: 'has_many'
<% if required %>
  required: true
<% end %>
  inverse: '<%= inverse %>'
<% if filter %>
  filter:
    <%= filter %>: <%= value %>
<% end %>
  label:
    es: 'Subartículos'
    en: 'Subarticles'
  help:
    es: '¿Cuáles artículos dependen de éste?'
    en: 'Which posts belong to this one?'
