<%= name %>:
  type: 'has_and_belongs_to_many'
<% if required %>
  required: true
<% end %>
  inverse: '<%= inverse %>'
<% if filter %>
  filter:
    <%= filter %>: <%= value %>
<% end %>
  label:
    es: 'Pertenencia y subartículos'
    en: 'Has and belongs to many'
  help:
    es: 'Tipo de artículo del cual puede tener varios relacionados y el otro, a su vez, tener varios de éste'
    en: 'Post type this post can belong to more than one of, and also have more than one of'
