<%= name %>:
  type: 'image'
<% if required %>
  required: true
<% end %>
  path:
    label:
      es: 'Archivo de imagen'
      en: 'Image file'
    help:
      es: 'Sube una imagen'
      en: 'Upload an image'
  description:
    label:
      es: 'Descripción'
      en: 'Description'
    help:
      es: 'Breve descripción de la imagen'
      en: 'Brief image description for the visually impaired and search engines'
