<%= name %>:
  type: 'locales'
<% if required %>
  required: true
<% end %>
  label:
    es: 'Traducciones'
    en: 'Translations'
  help:
    es: 'Vinculo a los articulos en otros idiomas'
    en: 'Link to posts in other languages'
