<%= name %>:
  type: 'markdown_content'
<% if required %>
  required: true
<% end %>
<% if private %>
  private: true
<% end %>
  label:
    es: 'Nombre'
    en: 'Name'
  help:
    es: 'Ayuda'
    en: 'Ayuda'
