<%= name %>:
  type: 'markdown'
<% if required %>
  required: true
<% end %>
<% if private %>
  private: true
<% end %>
  label:
    es: 'Texto en formato Markdown'
    en: 'Text in Markdown format'
  help:
    es: ''
    en: ''
