<%= name %>:
  type: 'order'
<% if required %>
  required: true
<% end %>
  label:
    es: 'Orden'
    en: 'Order'
  help:
    es: 'La posición del artículo en la lista de artículos'
    en: 'Post position in list'
