<%= name %>:
  type: 'predefined_array'
<% if required %>
  required: true
<% end %>
<% if private %>
  private: true
<% end %>
  label:
    es: 'Lista predefinida'
    en: 'Predefined array'
  help:
    es: ''
    en: ''
  values:
    the_stored_value:
      es: 'Agrega una lista de valores y sus etiquetas'
      en: 'Add a hash of values and their labels'
