<%= name %>:
  type: 'related_posts'
<% if required %>
  required: true
<% end %>
<% if filter %>
  filter:
    <%= filter %>: <%= value %>
<% end %>
  label:
    es: 'Artículos relacionados'
    en: 'Related posts'
  help:
    es: ''
    en: ''
