<%= name %>:
  type: 'string'
<% if required %>
  required: true
<% end %>
<% if private %>
  private: true
<% end %>
  label:
    es: 'Texto corto'
    en: 'Short text'
  help:
    es: ''
    en: ''
